<ion-view view-title="New Trip" name="new-trip">
    <ion-content class="padding">
        <div class="list list-inset form-group">
            <label class="item item-input">
                <input type="text" class="form-control" placeholder="Destination" ng-model="vm.destination">
            </label>
            <label class="item item-input">
                <input type="text" class="form-control" placeholder="Via" ng-model="vm.via">
            </label>
            <label class="item item-input">
                <input type="text" class="form-control" placeholder="Capacity" ng-model="vm.capacity">
            </label>
            <label class="item item-input">
                <input type="text" class="form-control" placeholder="Extra Capacity" ng-model="vm.extraCapacity">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="vm.startTrip()">Start Trip</button>
    </ion-content>
</ion-view>
